# Compilation and Execution Commands
compile = "mvn clean compile"

run = "mvn exec:exec -Dexec.executable=java -Dexec.args='-classpath %classpath Main'"

# Entry Point for the Application
entrypoint = "src/main/java/Main.java"
hidden = ["**/*.class"]
modules = ["nodejs-20"]

# Language Configuration
[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

# Unit Testing Configuration
[unitTest]
language = "java"

# Nix Package Manager Configuration
[nix]
channel = "stable-22_11"

# Debugger Configuration
[debugger]
support = true

[debugger.compile]
command = "mvn clean compile"

[debugger.interactive]
transport = "localhost:0"
connectTimeout = 60
startCommand = "java-debug"

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
adapterID = "cppdbg"
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
classPaths = ["."]
mainClass = "Main"

# Deployment Configuration
[deployment]
build = "mvn clean compile"
run = "mvn exec:exec -Dexec.executable=java -Dexec.args='-classpath %classpath Main'"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
